extends layout

block content
  h2 Общая информация
  p 
    dl
      dt Адрес
      dd= bitcoinAddress
    dl
      dt Состояние БД
      -
        let statusStr = '';
        switch(status) {
          case 'pending': statusStr = 'Идет обновление'; break;
          case 'ready': statusStr = 'Обновлено'; break;
          default: statusStr = status; break;
        }
      dd= statusStr
    dl
      dt Баланс
      dd= summary.balance
    dl
      dt Кол-во транзакций:
      dd= summary.transactions_count
  p
    a(href="/transactions") К списку траннзакций
