extends layout

block content
  h2 Список транзакций
  p 
    ul.transactions-list
      each tr in transactions
        li
          dl
            dt txid
            dd= tr.txid
          dl
            dt time
            dd= (new Date(tr.time * 1000)).toDateString()
          dl
            dt amount
            dd= tr.amount

          dl
            dt category
            dd= tr.category
          dl
            dt blockhash
            dd= tr.blockhash


  p
    a(href="/") На гланую
            
