body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.transactions-list {
  list-style-type: none;
}
ul.transactions-list li {}
ul.transactions-list li dl {
  display: inline-block;
  margin: 1em;
}
dl dd {
  margin: 0px;
  font-weight: bold;
}
